.contact-form4-wrapper {
  display: contents;
}
.contact-form4-contact9 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.contact-form4-content1 {
  gap: 0;
  flex: 1;
  align-items: stretch;
}
.contact-form4-section-title {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form4-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form4-input {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.contact-form4-button {
  align-self: flex-start;
}
.track-your-complaint-fragment2 {
  display: contents;
}
.track-your-complaint-text18 {
  display: inline-block;
}
.track-your-complaint-fragment1 {
  display: contents;
}
.track-your-complaint-text15 {
  display: inline-block;
}
.contact-form4root-class-name {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  background-color: #5528f5;
}
@media(max-width: 991px) {
  .contact-form4-max-width {
    flex-direction: column;
  }
  .contact-form4-content1 {
    width: 100%;
  }
}

.track-your-complaint-container1 {
  width: 100%;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.track-your-complaint-hero {
  width: 100%;
  height: 162px;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  background-color: #5228F5;
}
.track-your-complaint-header {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.track-your-complaint-mobile-navigation {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 150;
  position: fixed;
  transform: translateX(100%);
  transition: transform 0.3s;
  align-items: flex-start;
  padding-top: var(--dl-space-space-twounits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
.track-your-complaint-logo1 {
  width: 64px;
}
.track-your-complaint-links1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  margin-top: var(--dl-space-space-twounits);
  align-items: flex-start;
  flex-direction: column;
}
.track-your-complaint-close-mobile-menu {
  top: var(--dl-space-space-oneandhalfunits);
  right: var(--dl-space-space-oneandhalfunits);
  width: var(--dl-size-size-small);
  height: var(--dl-size-size-small);
  display: flex;
  position: absolute;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.track-your-complaint-icon1 {
  width: 24px;
  height: 24px;
  display: flex;
}
.track-your-complaint-desktop-navigation {
  width: 100%;
  display: flex;
  margin-top: var(--dl-space-space-oneandhalfunits);
  align-items: center;
  flex-direction: column;
}
.track-your-complaint-centered {
  width: 100%;
  display: flex;
  max-width: 1200px;
  box-sizing: initial;
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 50px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}
.track-your-complaint-left1 {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: 38px;
  flex-direction: row;
  padding-bottom: 38px;
}
.track-your-complaint-navlink1 {
  display: contents;
}
.track-your-complaint-logo2 {
  width: 105px;
  margin-left: var(--dl-space-space-halfunit);
  text-decoration: none;
}
.track-your-complaint-links2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  margin-left: 33px;
  flex-direction: row;
}
.track-your-complaint-right1 {
  height: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
}
.track-your-complaint-navlink2 {
  display: contents;
}
.track-your-complaint-get-started1 {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #000000;
}
.track-your-complaint-get-started1:hover {
  background-color: #5228F5;
}
.track-your-complaint-text13 {
  color: rgb(255, 255, 255);
}
.track-your-complaint-navlink3 {
  display: contents;
}
.track-your-complaint-get-started2 {
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  padding-top: var(--dl-space-space-unit);
  padding-left: var(--dl-space-space-oneandhalfunits);
  border-radius: 56px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  text-decoration: none;
  background-color: #000000;
}
.track-your-complaint-get-started2:hover {
  background-color: #5228F5;
}
.track-your-complaint-text14 {
  color: rgb(255, 255, 255);
}
.track-your-complaint-burger-menu {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.track-your-complaint-mobile-menu-button {
  width: 40px;
  height: 40px;
  display: none;
}
.track-your-complaint-container3 {
  display: contents;
}
.track-your-complaint-fragment1 {
  display: contents;
}
.track-your-complaint-text15 {
  display: inline-block;
}
.track-your-complaint-fragment2 {
  display: contents;
}
.track-your-complaint-text18 {
  display: inline-block;
}
.track-your-complaint-footer {
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: var(--dl-space-space-sevenunits);
  padding-left: var(--dl-space-space-sevenunits);
  padding-right: var(--dl-space-space-sevenunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sevenunits);
  background-color: #000000;
}
.track-your-complaint-top {
  width: 100%;
  display: flex;
  max-width: 1200px;
  border-color: #3B3B3B;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  border-bottom-width: 1px;
}
.track-your-complaint-left2 {
  width: 33%;
  display: flex;
  align-items: flex-start;
  margin-right: var(--dl-space-space-twounits);
  flex-direction: column;
}
.track-your-complaint-contact {
  display: flex;
  margin-top: 52px;
  align-items: flex-start;
  flex-direction: column;
}
.track-your-complaint-text19 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  margin-bottom: var(--dl-space-space-unit);
}
.track-your-complaint-link {
  color: rgb(196, 196, 196);
}
.track-your-complaint-right2 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--dl-space-space-threeunits);
  flex-direction: row;
  justify-content: flex-start;
}
.track-your-complaint-category {
  width: 240px;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: stretch;
  flex-direction: column;
}
.track-your-complaint-bottom {
  width: 100%;
  display: flex;
  max-width: 1200px;
  margin-top: var(--dl-space-space-threeunits);
  align-items: flex-start;
  user-select: none;
  flex-direction: column;
}
.track-your-complaint-branding {
  width: var(--dl-size-size-large);
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg) brightness(103%) contrast(103%);;
  margin-bottom: var(--dl-space-space-unit);
}
.track-your-complaint-text20 {
  color: rgb(104, 104, 104);
}
@media(max-width: 991px) {
  .track-your-complaint-hero {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .track-your-complaint-close-mobile-menu {
    align-items: center;
    justify-content: center;
  }
  .track-your-complaint-desktop-navigation {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .track-your-complaint-centered {
    height: 60px;
    padding-left: 10px;
    padding-right: 10px;
  }
  .track-your-complaint-left1 {
    margin-left: var(--dl-space-space-halfunit);
  }
  .track-your-complaint-logo2 {
    width: 64px;
  }
  .track-your-complaint-links2 {
    display: none;
  }
  .track-your-complaint-get-started1 {
    display: none;
  }
  .track-your-complaint-get-started2 {
    display: none;
  }
  .track-your-complaint-mobile-menu-button {
    display: flex;
  }
  .track-your-complaint-footer {
    padding: var(--dl-space-space-sixunits);
  }
  .track-your-complaint-top {
    flex-direction: column;
  }
  .track-your-complaint-left2 {
    width: 100%;
    margin-right: 0px;
    margin-bottom: var(--dl-space-space-threeunits);
  }
  .track-your-complaint-text19 {
    margin-bottom: var(--dl-space-space-unit);
  }
  .track-your-complaint-link {
    text-decoration: underline none;
  }
  .track-your-complaint-right2 {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .track-your-complaint-branding {
    width: var(--dl-size-size-medium);
    margin-bottom: var(--dl-space-space-halfunit);
  }
  .track-your-complaint-text20 {
    font-size: 12px;
    line-height: 25px;
    margin-bottom: 0px;
  }
}
@media(max-width: 767px) {
  .track-your-complaint-hero {
    height: 620px;
    position: relative;
    padding-bottom: 180px;
    background-color: var(--dl-color-template-blue-bg);
  }
  .track-your-complaint-desktop-navigation {
    padding-left: 0px;
    padding-right: 0px;
  }
  .track-your-complaint-centered {
    padding-left: 0px;
    padding-right: 0px;
  }
  .track-your-complaint-left1 {
    margin-left: var(--dl-space-space-unit);
  }
  .track-your-complaint-right1 {
    margin-right: var(--dl-space-space-unit);
  }
  .track-your-complaint-get-started1 {
    display: none;
  }
  .track-your-complaint-get-started2 {
    display: none;
  }
  .track-your-complaint-footer {
    padding-top: var(--dl-space-space-fourunits);
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
}
@media(max-width: 479px) {
  .track-your-complaint-hero {
    padding-bottom: 160px;
  }
  .track-your-complaint-logo1 {
    margin-left: 0px;
  }
  .track-your-complaint-icon1 {
    align-items: center;
    justify-content: center;
  }
  .track-your-complaint-footer {
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
  }
}
