.contact-form4-contact9 {
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.contact-form4-content1 {
  gap: 0;
  flex: 1;
  align-items: stretch;
}
.contact-form4-section-title {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form4-content2 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
.contact-form4-input {
  gap: var(--dl-space-space-halfunit);
  display: flex;
  align-self: stretch;
  flex-direction: column;
}
.contact-form4-button {
  align-self: flex-start;
}
.contact-form4-fragment1 {
  display: contents;
}
.contact-form4-text3 {
  display: inline-block;
}
.contact-form4-fragment2 {
  display: contents;
}
.contact-form4-text4 {
  display: inline-block;
}
.contact-form4root-class-name {
  fill: var(--dl-color-gray-black);
  color: var(--dl-color-gray-black);
  background-color: #5528f5;
}
@media(max-width: 991px) {
  .contact-form4-max-width {
    flex-direction: column;
  }
  .contact-form4-content1 {
    width: 100%;
  }
}
