<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register complaint</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta charset="utf-8" />
    <meta property="twitter:card" content="summary_large_image" />

    <style data-tag="reset-style-sheet">
      html {  line-height: 1.15;}body {  margin: 0;}* {  box-sizing: border-box;  border-width: 0;  border-style: solid;}p,li,ul,pre,div,h1,h2,h3,h4,h5,h6,figure,blockquote,figcaption {  margin: 0;  padding: 0;}button {  background-color: transparent;}button,input,optgroup,select,textarea {  font-family: inherit;  font-size: 100%;  line-height: 1.15;  margin: 0;}button,select {  text-transform: none;}button,[type="button"],[type="reset"],[type="submit"] {  -webkit-appearance: button;}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}button:-moz-focus,[type="button"]:-moz-focus,[type="reset"]:-moz-focus,[type="submit"]:-moz-focus {  outline: 1px dotted ButtonText;}a {  color: inherit;  text-decoration: inherit;}input {  padding: 2px 4px;}img {  display: block;}html { scroll-behavior: smooth  }
    </style>
    <style data-tag="default-style-sheet">
      html {
        font-family: Inter;
        font-size: 16px;
      }

      body {
        font-weight: 400;
        font-style:normal;
        text-decoration: none;
        text-transform: none;
        letter-spacing: normal;
        line-height: 1.15;
        color: var(--dl-color-gray-black);
        background: var(--dl-color-gray-white);

        fill: var(--dl-color-gray-black);
      }
    </style>
    <link
      rel="stylesheet"
      href="https://unpkg.com/animate.css@4.1.1/animate.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap"
      data-tag="font"
    />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@teleporthq/teleport-custom-scripts/dist/style.css"
    />
  </head>
  <body>
    <link rel="stylesheet" href="../style.css" />
    <div>
      <link href="./faq.css" rel="stylesheet" />
      <section class="faqfaq">
        <div class="faq-heading">
          <span class="faq-text10">
            <fragment class="faq-fragment23">
              <span class="faq-text37 title">Your rights as a consumer</span>
            </fragment>
          </span>
          <span class="faq-text11">
            <fragment class="faq-fragment11">
              <span class="faq-text25">
                A lot of people don't know their rights until after they have
                been cheated.&nbsp;
              </span>
            </fragment>
          </span>
        </div>
        <div class="faq-accordion">
          <div data-faq="closed" class="accordionContainer">
            <div class="faq-header1">
              <span>
                <fragment class="faq-fragment16">
                  <span class="faq-text30">— Right to be protected&nbsp;</span>
                </fragment>
              </span>
              <svg viewBox="0 0 1024 1024" class="faq-icon10 accordionIcon">
                <path
                  d="M316 366l196 196 196-196 60 60-256 256-256-256z"
                ></path>
              </svg>
            </div>
            <div class="accordionContent">
              <span>
                <fragment class="faq-fragment15">
                  <span class="faq-text29">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Excepteur sint occaecat cupidatat non proident, sunt
                    in culpa qui officia deserunt mollit anim id est laborum.
                  </span>
                </fragment>
              </span>
            </div>
          </div>
          <div class="accordionContainer">
            <div class="faq-header2">
              <span>
                <fragment class="faq-fragment13">
                  <span class="faq-text27">— Right to choose</span>
                </fragment>
              </span>
              <svg viewBox="0 0 1024 1024" class="accordionIcon">
                <path
                  d="M316 366l196 196 196-196 60 60-256 256-256-256z"
                ></path>
              </svg>
            </div>
            <div class="accordionContent">
              <span>
                <fragment class="faq-fragment18">
                  <span class="faq-text32">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Excepteur sint occaecat cupidatat non proident, sunt
                    in culpa qui officia deserunt mollit anim id est laborum.
                  </span>
                </fragment>
              </span>
            </div>
          </div>
          <div data-faq="closed" class="accordionContainer">
            <div class="faq-header3">
              <span>
                <fragment class="faq-fragment19">
                  <span class="faq-text33">— Right to be informed</span>
                </fragment>
              </span>
              <svg viewBox="0 0 1024 1024" class="accordionIcon">
                <path
                  d="M316 366l196 196 196-196 60 60-256 256-256-256z"
                ></path>
              </svg>
            </div>
            <div class="accordionContent">
              <span>
                <fragment class="faq-fragment14">
                  <span class="faq-text28">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Excepteur sint occaecat cupidatat non proident, sunt
                    in culpa qui officia deserunt mollit anim id est laborum.
                  </span>
                </fragment>
              </span>
            </div>
          </div>
          <div data-faq="closed" class="accordionContainer">
            <div class="faq-header4">
              <span>
                <fragment class="faq-fragment22">
                  <span class="faq-text36">— Right to be heard&nbsp;</span>
                </fragment>
              </span>
              <svg viewBox="0 0 1024 1024" class="accordionIcon">
                <path
                  d="M316 366l196 196 196-196 60 60-256 256-256-256z"
                ></path>
              </svg>
            </div>
            <div class="accordionContent">
              <span>
                <fragment class="faq-fragment12">
                  <span class="faq-text26">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Excepteur sint occaecat cupidatat non proident, sunt
                    in culpa qui officia deserunt mollit anim id est laborum.
                  </span>
                </fragment>
              </span>
            </div>
          </div>
          <div data-faq="closed" class="accordionContainer">
            <div class="faq-header5">
              <span>
                <fragment class="faq-fragment21">
                  <span class="faq-text35">— Right to redressal</span>
                </fragment>
              </span>
              <svg viewBox="0 0 1024 1024" class="accordionIcon">
                <path
                  d="M316 366l196 196 196-196 60 60-256 256-256-256z"
                ></path>
              </svg>
            </div>
            <div class="accordionContent">
              <span>
                <fragment class="faq-fragment20">
                  <span class="faq-text34">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Excepteur sint occaecat cupidatat non proident, sunt
                    in culpa qui officia deserunt mollit anim id est laborum.
                  </span>
                </fragment>
              </span>
            </div>
          </div>
          <div data-faq="closed" class="accordionContainer">
            <div class="faq-header6">
              <span>
                <fragment class="faq-fragment10">
                  <span class="faq-text24">— Right to be protected&nbsp;</span>
                </fragment>
              </span>
              <animate-on-reveal
                animation="pulse"
                duration="300ms"
                delay="0s"
                direction="normal"
                easing="ease"
                iteration="1"
              >
                <svg
                  viewBox="0 0 1024 1024"
                  data-thq-animate-on-reveal="true"
                  class="accordionIcon"
                >
                  <path
                    d="M316 366l196 196 196-196 60 60-256 256-256-256z"
                  ></path>
                </svg>
              </animate-on-reveal>
            </div>
            <div class="accordionContent">
              <span>
                <fragment class="faq-fragment17">
                  <span class="faq-text31">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
                    do eiusmod tempor incididunt ut labore et dolore magna
                    aliqua. Excepteur sint occaecat cupidatat non proident, sunt
                    in culpa qui officia deserunt mollit anim id est laborum.
                  </span>
                </fragment>
              </span>
            </div>
          </div>
        </div>
        <div>
          <div class="faq-container2">
            <script>
              // Accordion - Code Embed

              const accordionContainers = document.querySelectorAll('.accordionContainer'); // All accordion containers
              const accordionContents = document.querySelectorAll('.accordionContent'); // All accordion content
              const accordionIcons = document.querySelectorAll('.accordionIcon'); // All accordion icons

              accordionContents.forEach((accordionContent) => {
                  accordionContent.style.display = 'none'; //Hides all accordion contents
              });

              accordionContainers.forEach((accordionContainer, index) => {
                  accordionContainer.addEventListener('click', () => {
                      accordionContents.forEach((accordionContent) => {
                          accordionContent.style.display = 'none'; //Hides all accordion contents
                      });

                      accordionIcons.forEach((accordionIcon) => {
                          accordionIcon.style.transform = 'rotate(0deg)'; // Resets all icon transforms to 0deg (default)
                      });

                      if (accordionContainer.classList.contains('accordion-open')) { // Checks if this container has class 'accordion-open'
                          accordionContainer.classList.remove('accordion-open'); // Removes class 'accordion-open'
                      } else {
                          accordionContainers.forEach((accordionContainer) => {
                              accordionContainer.classList.remove('accordion-open'); // Removes class 'accordion-open' from all containers
                          });

                          accordionContainer.classList.add('accordion-open'); // Adds class 'accordion-open' to this container
                          accordionContents[index].style.display = 'flex'; // Shows accordion content
                          accordionIcons[index].style.transform = 'rotate(180deg)'; // Rotates accordion icon 180deg
                      }
                  });
              });

              /*
              Here's what the above is doing:
                  1. Selects all accordion containers, contents, and icons
                  2. Hides all accordion contents
                  3. Adds an event listener to each accordion container
                  4. When an accordion container is clicked, it:
                      - Hides all accordion contents
                      - Resets all icon transforms to 0deg (default)
                      - Checks if this container has class 'accordion-open'
                          - If it does, it removes class 'accordion-open'
                          - If it doesn't, it:
                              - Removes class 'accordion-open' from all containers
                              - Adds class 'accordion-open' to this container
                              - Shows accordion content
                              - Rotates accordion icon 180deg
              */
            </script>
          </div>
        </div>
      </section>
    </div>
    <script
      defer=""
      src="https://unpkg.com/@teleporthq/react-components/dist/animate-on-reveal.umd.js"
    ></script>
  </body>
</html>
